{% extends 'base.html.twig' %}

{% block title %}Cible{% endblock %}

{% block body %}
    <h1 class="title-show-page">{{ cible.lastname }} {{ cible.firstname }}</h1>

    <table class="table table-show">
        <tbody>
            <tr>
                <th class="th-show">Id</th>
                <td>{{ cible.id }}</td>
            </tr>
            <tr>
                <th class="th-show">Nom</th>
                <td>{{ cible.lastname }}</td>
            </tr>
            <tr>
                <th class="th-show">Prénom</th>
                <td>{{ cible.firstname }}</td>
            </tr>
            <tr>
                <th class="th-show">Date de Naissance</th>
                <td>{{ cible.dateOfBirth ? cible.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="th-show">Nationalité</th>
                <td>{{ cible.nationality }}</td>
            </tr>
            <tr>
                <th class="th-show">Code</th>
                <td>{{ cible.codeName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="show-actions">
        <a href="{{ path('app_cible_index') }}" class="show-retour">Retour</a>
        <a href="{{ path('app_cible_edit', {'id': cible.id}) }}" class="show-modifier">Modifier</a>
    </div>

    <div class="show-supprimer">
        {{ include('cible/_delete_form.html.twig') }}
    </div>

{% endblock %}
