{{ form_start(form) }}

    <div class="form-ligne-1">

        <div class="form-input">
            <div class="form-input-text">
                {{ form_label(form.title, 'Titre') }}
            </div>
            {{ form_widget(form.title) }}
        </div>

        <div class="form-input">
            <div class="form-input-text description">
            {{ form_label(form.description, 'Description') }}
            </div>
            {{ form_widget(form.description) }}
        </div>

        <div class="form-input">
            <div class="form-input-text">
                {{ form_label(form.country, 'Pays') }}
            </div>
            {{ form_widget(form.country) }}
        </div>

        <div class="form-input">
            <div class="form-input-text">
                {{ form_label(form.code_name, 'Nom de code') }}
            </div>
            {{ form_widget(form.code_name) }}
        </div>

    </div>

    <div class="form-container">
        {{ form_row(form.speciality, {attr: {class: 'form-list'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.agents, {attr: {class: 'form-checkbox'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.contacts, {attr: {class: 'form-checkbox'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.cibles, {attr: {class: 'form-checkbox'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.planques, {attr: {class: 'form-checkbox'}}) }}
    </div>

    <div class="form-container">
        {{ form_label(form.start_date, 'Date de début: ') }}
        {{ form_widget(form.start_date, {attr: {class: 'form-date'}}) }}
    </div>

    <div class="form-container">
        {{ form_label(form.end_date, 'Date de fin: ') }}
        {{ form_widget(form.end_date, {attr: {class: 'form-date'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.status, {attr: {class: 'form-list'}}) }}
    </div>

    <div class="form-container">
        {{ form_row(form.type, {attr: {class: 'form-list'}}) }}
    </div>

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
