{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1 class="title">Liste des Contacts</h1>

    <button class="new-container">
        <a href="{{ path('app_contact_new') }}" class="new">Créer nouveau</a>
    </button>

    <table class="table table-index-page">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Nationalité</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.dateOfBirth ? contact.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ contact.nationality }}</td>
                <td>{{ contact.codeName }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">Voir</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">pas de résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
